*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.main {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.title {
    margin-top: 50px;
    color: green;
    font-size: 50px;
    text-align: center;
}
.container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
    border: 2px dashed;
    width: 100%;
    padding: 240px 100px 5px;
    border-radius: 10px;
}

.container--dragOver{
    border: 2px solid green;
    
}
.actions {
    margin-top: -200px;
}


.text{
    display: block;
    line-height: 50px;
    text-align: center;
    font-size: 25px;
    font-style: oblique;
    color: bisque;
}

.window {
    margin-left: auto;
    list-style: none;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 20%;
    max-height: 500px;
    overflow: auto;
}
.window__item{
    padding: 10px 0px;
    border:1px solid;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

progress{
    margin-top: 10px;
    width: 100px;
    height: 20px;
    border: 1px solid grey;
    border-radius: 5px;
}

.upload{
    color:green;
    width: 100px;
    height: 40px;
    background-color: lightgreen;
    border-radius: 5px;
    border:none;
    margin-top: auto;
}

.upload:hover{
    -webkit-box-shadow: 5px -4px 49px -14px #000000; 
    box-shadow: 5px -4px 49px -14px #000000;
}

.icon{
    height: 30px;
}

.icon-box{
    margin-right: 30px;
}
.file.name{
   font-size: 14px;
}
.progress-bar{
    display: flex;
    align-items: flex-end;
}